.profile {
    display: flex;
    flex-direction: column;
    outline: solid 1px lightgray;
    margin: 0 auto;
    justify-content: flex-end;
    width: 280px;
    height: 380px;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.profile:hover {
    transform: scale(1.03);
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.avatar {
    margin-bottom: 30px;
    width: 40%;
    border-radius: 50%;
    border: solid 1px black;
}

.name {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}
.tag {
    margin-bottom: 10px;
    color: gray;
}
.location {
    margin-bottom: 15%;
    color: gray;
}
.stats {
    display: grid;
    height: 80px;
    background-color: aliceblue;
    grid-template-columns: repeat(
        auto-fit,
        minmax(33.33%, 1fr)
    );
}
.stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: gray;
    /* border: solid 0.5px gray; */
    border-top: solid 1px lightgray;
}
.stats__item:not(:last-child) {
    border-right: solid 1px lightgray;
}
.label {
    margin-bottom: 5px;
}
.quantity {
    font-size: 16px;
    font-weight: 600;
    color: black;
}
